.hatSelector{
    height: 65vmin;
  }
.leftBrainHats{
  width: 15%;
}

.rightBrainHats{
  width: 15%;
}

.leftBrainImage{
  background-color: white;
  padding-right: 0;
  margin-right: 0;
}

.rightBrainImage{
  background-color: white;
  padding-left: 0;
  margin-left: 0;
}

.profileImage{
  margin-top: 5vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vmin;
}

h2{
  text-align: center;
  font-size: 7vmin;
  margin-top: 2vmin;
}