.brandLogo{
  width: 8vmin;
}

.color-nav{
  background-color: black;
}

.footer{
  margin-top: 2vmin;
  font-size: .8rem;
  margin-bottom: 2vmin;
  text-align: left;
  clear: both;
}

.topButton{
  position: absolute;
  right: 10px;
}

.latest{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


p{
  padding: 2vmin;
  text-align: center;
  width: 100%;
  font-size: 3vmin;
}

.navLinkImage{
  width: 6vmin;
}

.navLink{
  display: inline-block;
}

.mr-auto{
  font-size: 4vmin;
}

.btn{
  font-size: 4vmin;
}