.Home {
  text-align: center;
  align-items: center;
  padding: '10px';

}

.HomeContent {
  padding-bottom: 20px;
  background-color: darkgrey;
  justify-content: "center";
}

.HomeCarousel {
  background-color: grey;
  padding-top: 10px;
}

.section{
  padding: 20px;
}
.Home-img {
    padding-top: 10px;
    height: 40vmin;
    padding: '20';
}

.centerUp{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home-header {
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
}

.Home-header2 {
  padding-top: 2px;
  min-height: 7vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(82, 76, 76);
}

.Home-header-card{
  background-color: #706d6d;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
