.Home {
  text-align: center;
  align-items: center;
  padding: '10px';

}

.carousel-caption-dark{
  color: black;
  font-size: calc(5px + 3vmin);
  background-color: white;
}

.carousel-caption-light{
  color: white;
  font-size: calc(5px + 3vmin);
  background-color: black;
}

.HomeContent {
  padding-bottom: 0.25vmin;
  padding-top: 0.25vmin;
  background-color: darkgrey;
  justify-content: "center";
}

.HomeCarousel {
  background-color: grey;
  padding: 20px;
}

.section{
  padding: 2vmin;
  height: 95vmin;
}
.Home-img {
    padding-top: 2vmin;
    width: 100%;
}

.Home-side-img {
  padding-top: 2vmin;
  width: 100%;
}
.Home-side-img2 {
  padding-top: 2vmin;
  width: 100%;
}


@media (max-width: 900px){
.carousel{
  width: auto;
  height: auto;
}
}

.carousel-item > img{
  width: 90%;
}

.centerUp{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centerLeft{
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.centerRight{
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.Home-header {
  padding-top: 1vmin;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  line-height: 80%;
}

.Home-header2 {
  padding-top: 1vmin;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(82, 76, 76);
  line-height: 90%;
}
.Home-header-intro {
  padding: 1vmin;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: black;
}

.Home-header-card{
  background-color: #706d6d;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
